@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700;800&display=swap');
@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
}

#root {
  min-height: 100%;
}

.input {
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid rgb(226 232 240);
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  outline: none;
}

.input:focus {
  box-shadow: 0 0 0 2px rgb(191 219 254);
}
